{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1>
      {% block page_heading %}
        {% if "title_translated" in pkg and pkg.title_translated[h.odm_dataset_get_current_language()] %}
          {{ pkg.title_translated[h.odm_dataset_get_current_language()] }}
        {% else %}
          {{ pkg.title or pkg.name }}
        {% endif %}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>

    {% if "notes_translated" in pkg and pkg.notes_translated[h.odm_dataset_get_current_language()] %}
      {{ pkg.notes_translated[h.odm_dataset_get_current_language()] }}
    {% else %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
    {% endif %}

  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}

{% block secondary_content %}

  {% set dataset_extent = c.pkg_dict.spatial or '' %}
  {% if dataset_extent %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}

  {{ super() }}

{% endblock %}
