{% ckan_extends  %}

{% set res = g.resource %}

{% if res.name_translated and h.odm_dataset_get_current_language() in res.name_translated %}
  {% set ml_name = res.name_translated[h.odm_dataset_get_current_language()] %}
{% endif %}

{% if res.description_translated and h.odm_dataset_get_current_language() in res.description_translated %}
  {% set ml_description = h.markdown_extract(res.description_translated[h.odm_dataset_get_current_language()]) %}
{% endif %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if res.format == 'WMS' %}
    {{ h.odm_nav_wms_download(res, pkg, large=False)|safe }}
  {% endif %}
{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(ml_description or res.description, extract_length=200) if res.description else h.markdown_extract(g.package.notes, extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(g.package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block subtitle %}{{ ml_name or res.name }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.odm_dataset_get_currentlang_data('name_translated', res) or res.name | truncate(50) }}</h1>{% endblock %}
  {% block resource_read_url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="muted ellipsis">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description_translated or res.description%}
      {{ h.render_markdown(h.odm_dataset_get_currentlang_data('description_translated', res)) }}
    {% elif g.package.notes or g.package.notes_translated %}
      <h3>{{ _('From the dataset abstract') }}</h3>
      <blockquote>{{ h.markdown_extract(h.odm_dataset_get_currentlang_data('notes_translated', g.package)) }}</blockquote>
      <p>{% trans dataset=h.odm_dataset_get_currentlang_data('title_translated', g.package), url=h.url_for(package.type ~ '.read', id=g.package.id if is_activity_archive else g.package.name) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
  </div>
{% endblock %}

{% block secondary %}
    {# this is an ugly hack. We don't generally want the secondary nav, except in
    one case in vectorstorer, so we're setting a flag block here, and
    if it's there, then we will show the secondary nav. And then we
    have to suppress that block. We might be able to do this with a set flag
    but this works. #}
    {% if self.reqd_secondary()|trim != '' %}
        {{ super() }}
    {% endif %}
    {% if False %}{%- block reqd_secondary -%}{% endblock %}{% endif %}
{% endblock %}
