{% ckan_extends  %}

{% set res = c.resource %}

{% if res.name_translated and h.odm_dataset_get_current_language() in res.name_translated %}
  {% set ml_name = res.name_translated[h.odm_dataset_get_current_language()] %}
{% endif %}

{% if res.description_translated and h.odm_dataset_get_current_language() in res.description_translated %}
  {% set ml_description = h.markdown_extract(res.description_translated[h.odm_dataset_get_current_language()]) %}
{% endif %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if res.format == 'WMS' %}
    {{ h.odm_nav_wms_download(res, pkg, large=False)|safe }}
  {% endif %}
{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(ml_description or res.description, extract_length=200) if res.description else h.markdown_extract(c.package.notes, extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block subtitle %}{{ ml_name or res.name }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.odm_dataset_get_currentlang_data('name_translated', res) or res.name | truncate(50) }}</h1>{% endblock %}
  {% block resource_read_url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="muted ellipsis">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description_translated or res.description%}
      {{ h.render_markdown(h.odm_dataset_get_currentlang_data('description_translated', res)) }}
    {% elif c.package.notes or c.package.notes_translated %}
      <h3>{{ _('From the dataset abstract') }}</h3>
      <blockquote>{{ h.markdown_extract(h.odm_dataset_get_currentlang_data('notes_translated', c.package)) }}</blockquote>
      <p>{% trans dataset=h.odm_dataset_get_currentlang_data('title_translated', c.package), url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
  </div>
  {#% snippet "snippets/stats.html", data=res, stats_type="resource", title="Recent Downloads" %#}
{% endblock %}

{% block resource_view_content %}
    <div class="resource-view">
        {% set resource_preview = h.resource_preview(c.resource, c.package) %}
        {% set formats = ('csv', 'tsv', 'xls', 'xlsx') %}
        {% set views_created = res.has_views or resource_preview %}

        {% if res.get('format', '') and res.get('format', '').lower() in formats %}
        {% set views_created = views_created and res.get('datastore_active') %}
        {% endif %}

        {% if views_created %}
            {% if resource_preview and not current_resource_view %}
                {{ h.resource_preview(c.resource, c.package) }}
            {% else %}
                {% for resource_view in resource_views %}
                    {% if resource_view == current_resource_view %}
                        {% snippet 'package/snippets/resource_view.html',
                        resource_view=resource_view,
                        resource=c.resource,
                        package=c.package
                        %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {# Views not created #}
            <div class="data-viewer-info">
            <p>{{ _("There are no views created for this resource yet.") }}</p>
            {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
            <p class="text-muted">
            <i class="fa fa-info-circle"></i>
            {{ _("Not seeing the views you were expecting?")}}
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
            {{ _('Click here for more information.') }}</a>
            </p>
            <div id="data-view-info" class="collapse">
            <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
            <ul>
            <li>{{ _("No view has been created that is suitable for this resource")}}</li>
             <li>{{ _("Data not in the format that CKAN datastore can accept. ")}}</li>
            <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
            <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
            </ul>
            </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block secondary %}
    {# this is an ugly hack. We don't generally want the secondary nav, except in
    one case in vectorstorer, so we're setting a flag block here, and
    if it's there, then we will show the secondary nav. And then we
    have to suppress that block. We might be able to do this with a set flag
    but this works. #}
    {% if self.reqd_secondary()|trim != '' %}
        {{ super() }}
    {% endif %}
    {% if False %}{%- block reqd_secondary -%}{% endblock %}{% endif %}
{% endblock %}
