{% ckan_extends %}


{% block secondary_content %}

<div class="result_links">
    {{ h.snippet('snippets/dataset_type_facet_list.html',
    title=c.facet_titles["dataset_type"], name="dataset_type", search_facets=c.search_facets) }}
</div>
<div class="full-width single-filter clear-filters clear-serch-results">
    <a href="/dataset"><input class="button" type="submit" value="{{_('Clear Search Results')}}"></a>
</div>

<form action="" method="get" id="facet-form">
    <div class="data-advanced-filters">
        <h3 id="facet-filters"><i class="fa fa-filter"></i> {{_('Filters')}}</h3>
            {% for facet in c.facet_titles %}
            {% if facet != "dataset_type" %}
              {{ h.snippet('snippets/dataset_facet_list.html', title=c.facet_titles[facet], name=facet, search_facets=c.search_facets) }}
            {% endif %}
            {% endfor %}
    </div>
</form>

<div class="full-width single-filter clear-filters">
    <input class="button" type="submit" value="{{_('Clear All Filters')}}" onclick="location.href=window.location.pathname;">
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>

document.addEventListener('DOMContentLoaded', function() {
     $(".multiple-select-facet").select2();

     $(".multiple-select-facet" ).change(function() {
          this.form.submit();
     });
     var lang = $('html').attr('lang')
     $('.dataset-datestamp').each(function(ix,elt){
         try {
             var raw = $(elt).data('date')
             if (!raw) {
                 $(elt).html('')
                 return
             }
             var dt = new Date($(elt).data('date'))
         }
         catch (e) {
             $(elt).html('')
             return;
         }
         $(elt).append(dt.toLocaleString(lang, {dateStyle: "long"}))
     });

 });
</script>
{% endblock %}
