{% ckan_extends %}


{% block secondary_content %}

<div class="result_links">
    {{ h.snippet('snippets/dataset_type_facet_list.html',
    title=c.facet_titles["dataset_type"], name="dataset_type", search_facets=c.search_facets) }}
</div>
<div class="full-width single-filter clear-filters clear-serch-results">
    <a href="/dataset"><input class="button" type="submit" value="Clear Search Results"></a>
</div>

<form action="" method="get" id="facet-form">
    <div class="data-advanced-filters">
        <h3 id="facet-filters"><i class="fa fa-filter"></i> Filters</h3>
            {% for facet in c.facet_titles %}
            {% if facet != "dataset_type" %}
              {{ h.snippet('snippets/dataset_facet_list.html', title=c.facet_titles[facet], name=facet, search_facets=c.search_facets) }}
            {% endif %}
            {% endfor %}
    </div>
</form>

<div class="full-width single-filter clear-filters">
    <input class="button" type="submit" value="Clear All Filters" onclick="location.href=window.location.pathname;">
</div>

{% endblock %}


{% block styles %}
{{super()}}
<style>
    [role=main] {
    min-height: 270px;
    background: linear-gradient(90deg, #e2e7ed 50%, #fff 50%);
}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

$( document ).ready(function()
{
  $(".multiple-select-facet").select2();

  $(".multiple-select-facet" ).change(function() {
          this.form.submit();
});

});
</script>
{% endblock %}