/*Dark Blue (topbar): #292d56
Light Blue (topbar): #373c6a
Lighter Blue: #6393d2
Dark grey: #333333
Grey (footer): #4c4c4c
Light grey: #ededed
*/

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(https://fonts.gstatic.com/s/droidserif/v10/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwGtT0rU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Myanmar3;
    src: local('Myanmar3'), url(https://mmwebfonts.comquas.com/fonts/myanmar3.woff) format('woff'), url(https://mmwebfonts.comquas.com/fonts/myanmar3.ttf) format('ttf')
}

/* khmer */
@font-face {
    font-family: 'Suwannaphum';
    font-style: normal;
    font-weight: 400;
    src: local('Suwannaphum Regular'), local('Suwannaphum-Regular'), url(https://fonts.gstatic.com/s/suwannaphum/v13/jAnCgHV7GtDvc8jbe8hXXLWp9cGWWR2URmk.woff2) format('woff2');
    unicode-range: U+1780-17FF, U+200C, U+25CC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
    font-weight: bolder
}

#od-head h1, #od-head h2 {
    font-family: 'Droid Serif';
    text-decoration: none;
}

body {
    margin: 0;
    /*font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    background-color: #ededed;
    width: 100%;
}

/* Change of font for different language my and lm */
body.odc:lang(km) {
    font-family: Suwannaphum, "Open Sans", Helvetica, Arial, sans-serif;
}

body.odmy:lang(my) {
    font-family: "Open Sans", Helvetica, Arial, Myanmar3, sans-serif;
}

body.odc:lang(km) h1,
body.odc:lang(km) h2,
body.odc:lang(km) h3,
body.odc:lang(km) h4,
body.odc:lang(km) h5,
body.odc:lang(km) h6 {
    font-family: Suwannaphum, "Open Sans", Helvetica, Arial, sans-serif;
}

body.odmy:lang(my) h1,
body.odmy:lang(my) h2,
body.odmy:lang(my) h3,
body.odmy:lang(my) h4,
body.odmy:lang(my) h5,
body.odmy:lang(my) h6 {
    font-family: "Open Sans", Helvetica, Arial, Myanmar3, sans-serif;
}

/* Change of logo for km language */
#od-logo img {
    display: none
}

body.odc #od-logo h1:lang(km),
body.odc #od-logo h2:lang(km),
body.odc #od-logo div:lang(km) {
    display: none
}

body.odc #od-logo img:lang(km) {
    display: inline
}

/* color for the logo and OpenDevelopment header */
body.odt #od-head h1, a.odt .icon-od-logo, body.odt #od-logo .icon-od-logo {
    color: #f7904d;
    fill: #f7904d;
}

body.odm #od-head h1, a.odm .icon-od-logo, body.odm #od-logo .icon-od-logo {
    color: #6393d2;
    fill: #6393d2;
}

body.odc #od-head h1, a.odc .icon-od-logo, body.odc #od-logo .icon-od-logo {
    color: #97d320;
    fill: #97d320;
}

body.odl #od-head h1, a.odl .icon-od-logo, body.odl #od-logo .icon-od-logo {
    color: #d61e2a;
    fill: #d61e2a;
}

body.odmy #od-head h1, a.odmy .icon-od-logo, body.odmy #od-logo .icon-od-logo {
    color: #f8bf42;
    fill: #f8bf42;
}

body.odv #od-head h1, a.odv .icon-od-logo, body.odv #od-logo .icon-od-logo {
    color: #beab74;
    fill: #beab74;
}

/* bold for links that match the body class */
body.odt a.odt {
    font-weight: 500;
}

body.odm a.odm {
    font-weight: 500;
}

body.odc a.odc {
    font-weight: 500;
}

body.odl a.odl {
    font-weight: 500;
}

body.odmy a.odmy {
    font-weight: 500;
}

body.odv a.odv {
    font-weight: 500;
}

body.odt header.masthead {
    background: #64161d;
}

body.odm header.masthead {
    background: #292d56;
}

body.odc header.masthead {
    background: #06323d;
}

body.odl header.masthead {
    background: #3b2226;
}

body.odmy header.masthead {
    background: #59396c;
}

body.odv header.masthead {
    background: #50813b;
}

a {
    color: #333333;
    text-decoration: none;
}

.context-info h1.heading {
    word-break: normal;
}

.media-heading {
    word-break: normal;
}

.controls.lef {
    float: left;
}

.controls input[type="radio"], input[type="checkbox"] {
    top: 0px !important;
}

.form-radios {
    float: left;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background-color: #17708b;
    background-image: -moz-linear-gradient(top, #333333, #14657e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#14657e));
    background-image: -webkit-linear-gradient(top, #333333, #14657e);
    background-image: -o-linear-gradient(top, #333333, #14657e);
    background-image: linear-gradient(to bottom, #333333, #14657e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff14657e', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #17708b;
    background-image: -moz-linear-gradient(top, #333333, #14657e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#14657e));
    background-image: -webkit-linear-gradient(top, #333333, #14657e);
    background-image: -o-linear-gradient(top, #333333, #14657e);
    background-image: linear-gradient(to bottom, #333333, #14657e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff14657e', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: default;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #333333;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right: 2px;
}

.nav-list .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.nav-tabs,
.nav-pills {

}

.nav .dropdown-toggle .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
    margin-top: 6px;
}

a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #333333;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.tag {
    display: inline-block;
    margin-bottom: 4px;
    color: #111111;
    background-color: #f6f6f6;
    padding: 1px 10px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

a.tag:hover {
    text-decoration: none;
    color: #fff;
    background-color: #4c4c4c;
    border: 1px solid #ffffff;
    box-shadow: none;
}

.pill a {
    color: #ffffff;
}

.pill a.remove {
    font-size: 11px;
}

.box {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.module-content:first-child {
    margin-top: 0px;
    /*margin-left: 0px;*/
    padding-top: 20px;
}

.module-grid {
    margin: 0;
    list-style: none;

    margin: 0 -25px;
    padding-bottom: 15px;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-width: 1px 0;
}

.banner {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
    top: 15px;
    right: -35px;
    width: 80px;
    color: #ffffff;
    background-color: #333333;
    padding: 1px 20px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

.media-grid {
    margin: 0;
    list-style: none;

    margin: 0 -25px;
    padding-bottom: 15px;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-width: 1px 0;
}

.media-grid:before,
.media-grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.media-grid:after {
    clear: both;
}

.media-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #dddddd;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.media-view:hover,
.media-view.hovered {
    border-color: #333333;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.media-view:hover .banner,
.media-view.hovered .banner {
    background-color: #333333;
}

.media-view span {
    display: none;
}

.media-view .banner {
    display: block;
    background-color: #b7b7b7;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

.editor .editor-info-block a {
    color: #333333;
    text-decoration: none;
}

.dataset-extras {
    clear: both;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
}

.dataset-tags {
}

.dataset-tags li {
    display: inline;
    padding-left: 4px;
    float: right;
}

.dataset-resources li {
    display: inline;
    padding-left: 4px;
    float: right;
}

.resource-list.reordering .resource-item.ui-sortable-helper {
    background-color: #ededed;
    border: 1px solid #333333;
}

.resource-list.reordering .resource-item.ui-sortable-helper .handle {
    background-color: #ededed;
    border-color: #333333;
    color: #333333;
}

.toolbar {

    position: relative;
    padding: 10px;
    background: #FFF;
    border: none;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-left: -150px;
    padding-left: 150px;
}

[role=main],
.main {
    position: relative;
    padding-bottom: 20px;
    padding-top: 0;
    background: #ffffff;
}

@media (min-width: 768px) {
    [role=main],
    .main {
        width: 100%;
    }
}

[role=main] {
    min-height: 270px;
    background: #fff;
    padding-bottom: 0;
}

.main:after,
[role=main]:after {
    bottom: 0;
    border-top-width: 1px;
}

[role=main] .primary {
    float: left;
    margin-left: 0;
    padding-left: 10px;
}

[role=main] .secondary {
    margin-left: 0;
}

.primary > :last-child,
.secondary > :last-child {
    margin-bottom: 0;
}

.primary .primary {
    float: left;
    width: 467px;
    margin-left: 0;
}

.primary .primary h1:first-child,
.primary .primary h2:first-child,
.primary .primary h3:first-child,
.primary .primary h4:first-child {
    margin-top: 0;
}

.primary .tertiary {
    float: left;
    width: 180px;
    margin-left: 18px;
    margin-bottom: 20px;
}

.hero {
    background: #fff;
}

.hero .intro {

}

.intro-buttons ul, ol {
    margin: 0px;
}

.intro-buttons li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

.homepage .module-search .module-content {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #333333;
    border-bottom: none;
}

.homepage .module-search .tags {

    padding: 5px 10px 10px 10px;
    background-color: #4c4c4c;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.homepage .stats ul li {
    float: none;
    width: 100%;
    font-weight: 300;
}

.homepage .stats ul li a {
    display: block;
}

.homepage .stats ul li a b {
    display: block;
    font-size: 20px;
    line-height: 1.5;
}

.homepage .stats span {
    font-size: 30px;
}

.account-masthead {

    min-height: 30px;
    color: #ffffff;
    background: none !important;
    background-image: none;
}

.account-masthead:before,
.account-masthead:after {
    display: table;
    content: "";
    line-height: 0;
}

.account-masthead:after {
    clear: both;
}

.account-masthead .account {
    float: right;
}

.account-masthead .account ul {

}

.account-masthead .account ul:before,
.account-masthead .account ul:after {
    display: table;
    content: "";
    line-height: 0;
}

.account-masthead .account ul:after {
    clear: both;
}

.account-masthead .account ul li {
    display: block;
    float: left;
    border-left: 1px solid #00232e;
}

.account-masthead .account ul li a {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 0 10px;
    line-height: 31px;
}

.account-masthead .account ul li a span.username {
    margin: 0 2px 0 4px;
}

.account-masthead .account ul li a:hover {
    color: #fff;
    background-color: #4c4c4c;
    text-decoration: none;
}

.account-masthead .account ul li a.sub {
    font-weight: 300;
}

.account-masthead .account ul li a .btn {
    vertical-align: 1px;
    margin-left: 3px;
}

.account-masthead .account .notifications a span {
    font-size: 12px;
    margin-left: 3px;
    padding: 1px 6px;
    background-color: #00232e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.account-masthead .account .notifications a:hover span {
    color: #ffffff;
    background-color: #000f14;
}

.account-masthead .account .notifications.notifications-important a span {
    color: #ffffff;
    background-color: #c9403a;
}

.account-masthead .account.authed .image {
    padding: 0 6px;
}

.account-masthead .account.authed .image img {
    vertical-align: -6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.account-masthead .lang-select {
    float: left;
    margin: 2px 4px;
}

.masthead {

    min-height: 55px;
    color: #ffffff;
    background: #2a2d56;
    /*padding-top: 8px;*/
    padding-bottom: 0;
}

.masthead:before,
.masthead:after {
    display: table;
    content: "";
    line-height: 0;
}

.masthead:after {
    clear: both;
}

.masthead .container {
    position: relative;
}

.masthead hgroup h1,
.masthead hgroup h2 {
    float: left;
    font-size: 30px;
    line-height: 1.5;
}

.masthead hgroup h1 {
    font-weight: 900;
    letter-spacing: -1px;
    margin: 3px 0;
}

.masthead hgroup h2 {
    position: absolute;
    bottom: -3px;
    left: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2;
    white-space: nowrap;
}

.masthead .content {
    position: absolute;
    top: 10px;
    right: 0;
}

.masthead .section {
    float: left;
}

.masthead input[type="text"] {
    border-color: #004a61;
}

.masthead .navigation {
    margin-right: 20px;
}

.masthead .navigation .nav-pills {
    margin-bottom: 0;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
    background-color: #fff;
    color: #444444;
}

.masthead .site-search {
    margin: 6px 8px 2px 0;
}

.masthead .site-search input {
    width: 200px;
    padding: 4px 10px;
}

.masthead .debug {
    position: absolute;
    top: 37px;
    left: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.site-footer {

    min-height: 55px;
    color: #ffffff;
    background: #444444;
    padding: 20px 0px;
}

.site-footer:before,
.site-footer:after {
    display: table;
    content: "";
    line-height: 0;
}

.site-footer:after {
    clear: both;
}

.site-footer .container {
    position: relative;
}

.site-footer a {
    color: #ffffff;
}

.site-footer hgroup h1,
.site-footer hgroup h2 {
    float: left;
    font-size: 30px;
    line-height: 1.5;
}

.site-footer hgroup h1 {
    font-weight: 900;
    letter-spacing: -1px;
    margin: 3px 0;
}

.site-footer hgroup h2 {
    position: absolute;
    bottom: -3px;
    left: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2;
    white-space: nowrap;
}

.site-footer .content {
    position: absolute;
    top: 10px;
    right: 0;
}

.site-footer .section {
    float: left;
}

.site-footer input[type="text"] {
    border-color: #004a61;
}

.site-footer .navigation {
    margin-right: 20px;
}

.site-footer .navigation .nav-pills {
    margin-bottom: 0;
}

.site-footer .navigation .nav-pills li a:hover,
.site-footer .navigation .nav-pills li.active a {
    background-color: #003647;
}

.site-footer .site-search {
    margin: 2px 8px 2px 0;
}

.site-footer .site-search input {
    width: 200px;
    padding: 4px 10px;
}

.site-footer .debug {
    position: absolute;
    top: 37px;
    left: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.site-footer,
.site-footer label,
.site-footer small {
    color: #fff;
}

.footer-links,
.attribution {
    float: left;
    margin-left: 20px;
    width: 460px;
}

.footer-links {
    margin-left: 0;
}

.footer-links ul {
    float: left;
    margin-left: 20px;
    width: 220px;
}

.footer-links ul:first-child {
    margin-left: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-disclaimer {
    padding: 0px 0px 0px 20px;
}

.attribution small {
    color: #fff;
    font-size: 12px;
}

.attribution .ckan-footer-logo {
    display: block;
    width: 68px;
    height: 21px;
    margin-top: 2px;
    background: url("../../../base/images/ckan-logo-footer.png") no-repeat top left;
    text-indent: -900em;
}

.footer-nav {
    padding-top: 10px;
}

.footer-nav a {
    line-height: 14px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.footer-nav a:hover {
    color: #4c4c4c;
    background-color: #ffffff;
    text-decoration: none;
}

.popover-followee .nav li a i {
    background-color: #333333;
    color: #ffffff;
    margin-right: 11px;
    padding: 3px 5px;
    line-height: 1;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: inset 0 1px 2x rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2x rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2x rgba(0, 0, 0, 0.2);
}

.popover-followee .nav li a:hover i {
    background-color: #000;
}

.popover-followee .nav li.active a i {
    color: #333333;
    background-color: #ffffff;
}

body {
    background: #ffffff;
}

.stages {
    margin: 0;
    list-style: none;

    color: #aeaeae;
    counter-reset: stage;
    margin: -20px -25px 20px;
    overflow: hidden;
}

.stages:before,
.stages:after {
    display: table;
    content: "";
    line-height: 0;
}

.stages:after {
    clear: both;
}

.stages li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 27px;
    counter-increment: stage;
    width: 50%;
    background-color: #ededed;
    float: left;
    padding: 10px 20px;
    position: relative;
    z-index: 0;
}

.stages li:before {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    content: counter(stage);
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 5px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #aeaeae;
    z-index: 1;
}

.stages li:after {
    left: 0;
    border: solid rgba(237, 237, 237, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #ededed;
    border-bottom-color: #ededed;
    border-width: 29px;
    top: 50%;
    margin-top: -29px;
    margin-left: -30px;
}

.stages li.last {
    position: relative;
    right: -1px;
}

.stages li.last,
.stages li.last .highlight {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.stages li.first:after {
    content: none;
    border: none;
}

.stages li.active:after {
    border-color: rgba(140, 198, 138, 0);
    border-top-color: #8cc68a;
    border-bottom-color: #8cc68a;
}

.stages li.complete:after {
    border-color: rgba(197, 226, 196, 0);
    border-top-color: #c5e2c4;
    border-bottom-color: #c5e2c4;
}

.stages.stage-3 li.complete:first-child:after {
    content: none;
}

.stages li.active,
.stages li.complete {
    background: none;
}

.stages li.active:before {
    color: #8cc68a;
    background: #ffffff;
}

.stages li.complete:before {
    color: #c5e2c4;
    background: #eef6ed;
}

.stages li .highlight {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 52px;
    border: none;
    text-align: left;
    text-decoration: none;
    line-height: 27px;
    z-index: -1;
}

@media (max-width: 768px) {
    .stages li .highlight {
        text-indent: -9999px;
    }
}

.stages li.active .highlight {
    color: #ffffff;
    background: #8cc68a;
}

.stages li.complete .highlight {
    color: #eef6ed;
    background: #c5e2c4;
}

.homepage [role="main"] {
    padding: 0px 0px;
}

.control-full .select2-container {
    width: 100%;
}

/* #########################
   ###  CUSTOM ELEMENTS ####
   #########################*/
.homepage {
    padding-bottom: 10px;
    background: #ededed;
}

.homepage_stats {
    top: 10px;
}

.homepage_search {
    min-height: 225px;
}

.homepage_popular {
    min-height: 320px;
}

.sec_header {
    background: #ffffff;
    border-bottom: 1px solid #ededed;
    padding: 10px;
}

.sec_header h4 {
    margin: 2px 0px;
}

.header-selection {
    margin-bottom: 14px;
}

.header-selection ul {
    margin: 0px;
}

.header-selection li {
    float: left;
    list-style: none;
    margin: 4px;
}

.header-selection a {
    border: 2px solid #fff;
}

.header-selection a:hover {
    border: 2px solid #ededed;
}

.header_tag {
    display: inline-block;
    margin-bottom: 4px;
    color: #111111;
    background-color: #f6f6f6;
    padding: 1px 10px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

a.header_tag:hover {
    text-decoration: none;
    background-color: #4c4c4c;
    color: #fff;
    border: 1px solid #fff;
}

.clear {
    clear: both;
}

.dataset_thumb_s {
    max-height: 60px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ededed;
}

.dataset_thumb_m {
    max-height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ededed;
}

.readonly {
    background-color: #fff !important;
    cursor: default !important;
}

.back-to-odm {
    float: left;
}

.resource_item {
    margin-bottom: 20px !important;
}

.resources > h2 {
    color: #6493d2;
    text-transform: uppercase;
    font-size: 16px;
}

.record_resources {
    /* float: right;
  width: 500px; */
    margin-top: 20px;
}

.record_resources .resource_item_explore_links {
    float: right;
    margin-right: 35px;
}

.record_resources .resource_item_explore_links a {
    padding-right: 5px;
    text-decoration: none !important;
}

.resource_explore_icon {
    width: 20px;
}

.resource_explore_icon-eye {
    width: 24px;
}

.format-name {
    display: inline-block;
    position: absolute;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 34px;
}

@media only screen and (max-width: 992px) {
    .dataset-resource-format {
        height: 50px;
        padding-left: 0px;
        border-radius: 4px;
        font-weight: bold;
    }

    .dataset-resource-format i {
        display: none;
    }

    .format-name {
        margin-top: 14px;
    }

}

.dataset-details p {
    color: #333333;
}

.language-flag img {
    width: 20px;
    height: 15px;
    border-radius: 3px;
}

.dataset-resource {
    margin-bottom: 15px;
}

#dataset-resources-old {

    margin-bottom: 15px;

}

#file_icon_1 {

    font-size: 30px;
    margin-top: 30%;
    margin-left: 45%;
}

#file_icon_2 {

    font-size: 40px;
    margin-top: 10%;
    margin-left: 45%;

}

.tag-list {

    margin-left: 0px !important;

}

#od-head {
    margin-top: 0px;
    padding: 0px;
}

.snippet_nav ul {

    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;

}

.snippet_nav ul::-webkit-scrollbar {
    width: 4px;
}

.snippet_nav ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.odm_default_rsrc {

    background-color: #aaaaaa;
}

.odm_rsrc_shp {

    background-color: #aaaaaa;
}

.odm_rsrc_geojson {

    background-color: #9855e0;
}

.odm_rsrc_csv {

    background-color: #dfb100;
}

.odm_rsrc_db_table {

    background-color: #aaaaaa;
}

.odm_rsrc_wms {

    background-color: #adc717;
}

.odm_rsrc_pdf {

    background-color: #e0051e;
}

.odm_rsrc_html {

    background-color: #55a1ce;
}

.odm_rsrc_xlxs {

    background-color: #2db55d;
}

.odm_rsrc_kml {

    background-color: #7aae3d;
}

ul.nav li:hover > ul.dropdown-menu {
    display: inline-block;
    z-index: 50;
}

/* let the links in the odm profile body show */
.odm_profile a {
    color: inherit;
    text-decoration: underline;
}

.actions .dropdown-menu {
    margin-top: 1rem;
    padding: 1rem;
    right: 0;
    left: inherit;
}


.actions .dropdown-menu input {
    width: 100%;
}

.mekong-logo {
    fill: #6393d2
}

.cambodia-logo {
    fill: #97d320
}

.laos-logo {
    fill: #d61e2a
}

.myanmar-logo {
    fill: #f8bf42
}

.thailand-logo {
    fill: #f7904d
}

.vietnam-logo {
    fill: #beab74
}

#od-selector .icon-od-logo {
    display: inline-block;
    margin-right: 3px;
    float: left
}

#od-selector .icon-od-logo .svg-od-logo {
    width: 16px;
    height: 16px
}

#od-breadcrumb .row {
    margin: 0;
}

#od-menu {
    background: #373c6a;
}

#od-menu #menu-header-menu {
    padding: 0;
    margin: 0;
}

#od-menu #menu-header-menu li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#od-menu #menu-header-menu a {
    text-decoration: none;
    height: 40px;
    padding: 0 10px 0 10px;
    line-height: 40px;
    font-weight: 400;
    vertical-align: baseline;
    text-align: left;
    display: inline-block;
}

#od-menu #menu-header-menu a:hover {
    background: #eee;
}

.country-selector ul li {
    float: left;
}

.country-selector {
    font-weight: 200;
}

/* overriding the gutter in bootstrap */
#od-selector {
    margin-left: 143px;
    z-index: 5;
    position: relative;
}

@media only screen and (max-width: 1000px) {
  #od-selector {
    margin-left: 0;
  }

}



#od-selector a {
    font-size: small;
    color: #fff;
    text-decoration: none;
}

#od-selector a:hover {
    color: #6393d2;
}

#od-selector .active-country {
    font-weight: 700;
    color: #fff;
}

.admin-bar #od-selector {
    top: 32px;
}

#od-selector ul, #od-selector ul li {
    margin: 0;
    padding: 0;
    float: left;
    font-size: small;
    padding: 2px 12px 2px 0;
    list-style: none;
}

.language-selector ul li {
    float: right;
}

#od-selector #qtranslate-chooser {
    float: right;
}

#od-selector #qtranslate-chooser li {
    display: inline-block;
}

#od-selector ul.menu > li > ul li:last-child a {
    border-bottom: 0
}

#od-selector ul.menu > li > ul li a, #od-selector ul.menu > li > ul li:last-child > ul li a {
    border-bottom: 1px solid #ddd
}

/* mobile version */

#od-head .icon-od-logo, #od-head h1, #od-head h2 {
    display: inline;
    vertical-align: baseline;
    line-height: 24px;
    margin: 3px 2px 0 0;
}

.social {
    float: right;
    padding: 0;
    text-align: right;
    margin: .25rem 0 0 0;
    margin-right: 150px;
}

.social i {
    color: #fff;
    font-size: 16px;
}

.social a {
    margin-left: 3px;
    color: #fff
}

.social a:hover {
    color: #c8c8c8
}

.social a:first-of-type {
    margin-left: 0;
}

#od-head #od-logo .icon-od-logo {
    margin-right: 5px;
    width: 20px;
}

#od-head #od-logo .icon-od-logo .svg-od-logo {
    width: 20px;
    height: 20px;
}

#od-head h1 {
    font-size: 24px;
    line-height: 1rem;
    font-weight: 700;
    letter-spacing: -0.3rem;
}

#od-head h2.side-title {
    font-size: 20px;
    color: #fff;
    letter-spacing: -0.3rem;
}

#od-head h2[class*=" icon-"], #od-head h2[class^=icon-] {
    font-size: 50%;
    margin-left: 0.3rem;
}

#od-head h2 img {
    max-height: .75rem;
    display: block;
    width: auto;
    margin-top: 0.1rem;
}

/* drop social out on really small phones */
@media (max-width: 360px) {
    .social {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-toggle {
        margin-top: 0;
        padding-top: 1px;
        margin-bottom: 0;
        padding-bottom: 2px;
    }
}

@media (min-width: 768px) {
    #od-head {
        min-height: 72px;
    }

    #od-head #od-logo .icon-od-logo {
        display: inline-block;
        margin-right: 10px;
        width: 40px;
        float: left;
    }

    #od-head #od-logo .icon-od-logo .svg-od-logo {
        width: 40px;
        height: 68px;
    }

    #od-head h1 {
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        float: left;
        margin: 10px 0.75rem 0 0;
    }

    #od-head h2.side-title {
        font-size: 40px;
        line-height: 48px;
        float: left;
        margin: 12px 0 0 0;
        color: #fff
    }

    #od-head h2[class*=" icon-"], #od-head h2[class^=icon-] {
        font-size: 50%;
        margin-left: 10px;
    }

    #od-head h2 img {
        max-height: 38px;
        display: block;
        width: auto;
        margin-top: 5px;
    }

    .social {
        padding: 10px;
        margin-top: 18px
    }

    .social i {
        font-size: 24px
    }

    .social a {
        margin-left: 6px;
    }
}

#od-head h1.with-logo, #od-head h1.with-logo a {
    text-indent: -9999px;
    line-height: 0
}

#breadcrumbs {
    list-style: none;
    margin: 5px 0 0 0;
    overflow: hidden;
    color: #444;
    border-bottom: 1px solid #eee;
}

#breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}

#breadcrumbs a.bread-link, #breadcrumbs li, #od-head #breadcrumbs a {
    color: #333;
}

#breadcrumbs .separator {
    background: url(../../img/breadcrumb-separator.png) center no-repeat;
    width: 14px;
    height: 11px;
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
    margin-top: 3px;
}

#breadcrumbs .separator_by {
    font-size: 18px;
}

#breadcrumbs .separator-topic:last-child {
    display: none;
}

.bread-current {
    font-weight: 700;
}

@media (min-width: 768px) {
    .wrapper:before {
        border: 0;
    }
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* fix stacking context issue with menu appearing behind other elements */
.container-fluid {
    position: relative;
    z-index: 0;
}

.dataset-resources {
    float: left;
    padding-left: 0;
}

@media (min-width: 960px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.result_links {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    line-height: 2em;
}

.result_link_list i {
    width: 1.6rem;
}

.dataset-detail table {
    width: 100%;
}

.dataset-detail td {
    padding: .33em;
}

.dataset-detail .head {
    font-weight: bold;
    width: 33%;
}

/*
 * Menu
 */
.masthead .nav > li > a:hover,
.masthead .nav > li > a.focus {
    background-color: #eee;
    color: #333;
}

/* make the 2 level menus work better */
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-menu {
    left: 200px; /* min width + padding */
    top: 0;
    float: right;
}

/* pagination css */
.module .pagination > ul {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;

    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination {
    margin: 20px 0;
}

.span6 {
    width: 460px;
}

.span3 {
    width: 220px;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.pagination ul > li {
    display: inline;
}

.module .pagination li a {
    border: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

#per_page {
    float: right;
    padding-right: 27px;
}

/* scheming -- style the div for alternating color */
/* note margin here is important for margin-collapsing */
.scheming-form-field {
    padding-left: 1em;
    padding-right: 1em;
    background: #f8f8f8;
    margin-bottom: 30px;
    border-right: 3px solid orange;
    border-left: 3px solid orange;
}

.scheming-form-field:nth-of-type(odd) {
    background: #f0f0f0;
    border-right: 3px solid purple;
    border-left: 3px solid purple;
}

/* move the manage button into the bar, so that it's not
   overhanging the edge of the content_primary_nav */
.actions {
    top: 0px;
    right: 0px;
    position: relative;
    float: right;
    z-index: auto;
}

/* Make the container not fluid at larger sizes */
@media (min-width: 1200px) {
    .container-lg {
        width: 1170px;
    }
}

.filters .module-footer {
    border-top: none;
}

.filters .module-heading {
    color: #6594d0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    background-color: #e2e7ed;
}

.filters .nav-simple > li, .filters .nav-aside > li {
    border: none;
}

.nav > li > a:hover {
    background-color: #c1d5ed;
}

.nav-item.active > a {
    background-color: #292e55;
}

.nav-item.active > a:before {
    border-left-color: #292e55;
}

.facet-col {
    background-color: #ffffff;
}

.pagination > .active > a {
    background-color: #292e55;
}

.dataset-heading {
    font-weight: 500;
    font-size: 21px;
    color: #292e55;
}

.dataset-resource-preview {
    color: #6594d0;
    text-transform: uppercase;
}

.dataset-resource-preview > h2 {
    color: #6594d0;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .toolbar .breadcrumb a {
        color: #505050;
        text-shadow: none;
    }
}

.format-name {
    display: inline-block;
    position: absolute;
    margin-top: 60px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.dataset-resource-format i {
    display: inline-block;
    position: absolute;
    margin-top: 16px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2em;
}

.dataset-resource-format {
    padding-left: 0;
    border-radius: 4px;
    border-radius: 4px;
    height: 90px;
    background: #6493d2;
    color: #fff;
    font-weight: 700;
}

/* float resouce format icons to right */
ul.dataset-resources {
    float: right;
}

/* css for facet filters */
.data-advanced-filters {
    background-color: #f4f4f4;
    border: 1px solid #d2d2d2;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 400;
}

.facet-title {
    border-top: 0px;
    border-bottom: 0px;
    background-color: inherit;
    color: #505050;
    font-weight: 400;
    padding-left: 0px !important;
}

.multiple-select-facet {
    background-color: white;
    border: 0px solid #4d4d4d;
    border-radius: 4px;
    cursor: text;
    width: 98%;
}

.result_links, .data-advanced-filters {
    margin: 10px;
}

.clear-filters {
    margin: 10px;
    text-align: center;
}

.clear-filters .button {
    width: 80%;
    height: auto;
    color: #fff;
    border: 1px #c8c8c8 solid;
    padding: 10px 10px;
    text-decoration: none;
}

#facet-filters {
    margin-top: 0px;
}

body.odt .clear-filters .button, body.odt .btn-primary {
    background: #64161d;
}

body.odm .clear-filters .button, body.odm .btn-primary {
    background: #292d56;
}

body.odc .clear-filters .button, body.odc .btn-primary {
    background: #06323d;
}

body.odl .clear-filters .button, body.odl .btn-primary {
    background: #3b2226;
}

body.odmy .clear-filters .button, body.odmy .btn-primary {
    background: #59396c;
}

body.odv .clear-filters .button, body.odv .btn-primary {
    background: #50813b;
}

.btn-download {
    background-color: #292e55;
    width: 15rem;
    float: right;
}

div.dataset-list-metadata span {
    padding-right: 1em;
}

div.dataset-list-metadata {
    margin-bottom: .25em;
}

.clearfix {
    margin-bottom: 0;
    margin-top: 0;
}

.masthead .navbar-collapse {
    padding: 0;
    width:100%;
}

/*colour the hr under the top menu*/
body.odt .clearfix {
    border-top: 1px solid #f7904d;
}

body.odm .clearfix {
    border-top: 1px solid #6393d2;
}

body.odc .clearfix {
    border-top: 1px solid #97d320;
}

body.odl .clearfix {
    border-top: 1px solid #d61e2a;
}

body.odmy .clearfix {
    border-top: 1px solid #f8bf42;
}

body.odv .clearfix {
    border-top: 1px solid #beab74;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom 0;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.container-header {
    width: 100% !important;
    padding-left: 0;
    padding-right:0;

}

.select2-container {
    /*margin-top: 1px;*/
    margin-bottom: 0px;
}

#od-logo {
    margin-left:146px;
}

#mega-menu-wrap-header_menu {
    padding-left:143px !important;
}


@media only screen and (max-width: 1000px) {
  #mega-menu-wrap-header_menu {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {
  #od-logo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .social {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  #main-navigation-toggle {
    z-index: 5;
  }
}

/* from odm_dataset, one less request */
.disclaimer{
    padding: 20px;
    font-size: 14px;
    color: #FF0000;
    border-bottom: 1px solid #CCC;
}

.select2-disabled{
    text-decoration: line-through;
    color: #CCCCCC;
}

/* fix the plus button alignment in resource view filters */
/* this actually centers all icon only buttons */
.btn .fa:first-child:last-child {
    margin-right: 0;
}

.reference a {
    color: #3030ab;
}

.resource-view-filters a{
    margin: 2px;
}
