[main]

[inline scripts]

block_postjq_shim =
  document.write("<script type='text/javascript' src='"+megamenu.wp_url+"/wp-includes/js/hoverIntent.min.js?ver=1.8.1'></script>"+
  "<script type='text/javascript' src='"+megamenu.wp_url+"/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=2.6'></script>"+
  "<script type='text/javascript' src='"+megamenu.wp_url+"/wp-content/plugins/megamenu-pro/assets/public.js?ver=1.6.2.1'></script>");

[depends]

main = base/main
block_postjq_shim = base/main

[groups]

main =
     odm_nav.css
     megamenu.js
