{% extends "page.html" %}

{% block bodytag %}
  data-site-root="{{ h.url_for('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url_for('/', qualified=true) }}" class="{{ h.odm_nav_sitecode() }} odc-body"
{% endblock %}

{% block page_header %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
  <div class="odc-layout">
    {% block secondary %}
      <div class="odc-secondary">
        {% block secondary_content %}{% endblock %}
      </div>
    {% endblock %}

    {% block primary %}
      <div class="odc-primary">
        {% block primary_content %}{% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'odm_laws/odc_laws_css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'odm_laws/odc_laws_js' %}
{% endblock %}