<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>

    {% block package_additional_info %}

      {% if pkg_dict.version %}
       <tr>
         <th scope="row" class="dataset-label">{{ _("Version") }}</th>
         <td class="dataset-details">{{ pkg_dict.version }}</td>
       </tr>
      {% endif %}

      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("State") }}</th>
          <td class="dataset-details">{{ pkg_dict.state }}</td>
        </tr>
       {% endif %}

       {% if pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
          </tr>
        {% elif pkg_dict.maintainer %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_modified, with_hours=True) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_created, with_hours=True) }}</td>
          </tr>
        {% endif %}

    {% block package_odc_fields %}

      {% for field in h.odm_theme_odc_fields() %}
        {% set field_name = field[0] %}
        {% set field_label = field[1] %}

        {% if pkg_dict[field_name] %}
          <tr>
            <th scope="row" class="dataset-label">{{ _(field_label) }}</th>
            <td class="dataset-details">{{ pkg_dict[field_name] }}</td>
          </tr>
        {% endif %}
      {% endfor %}

    {% endblock %}

        {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
        <tr rel="dc:relation" resource="_:extra{{ i }}">
          <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
          <td class="dataset-details" property="rdf:value">{{ value }}</td>
        </tr>
        {% endfor %}
        {% endblock %}

      {% endblock %}
    </tbody>
  </table>

  <h3>{{ _('Open Development Network Metadata Template') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_odm_fields %}

        {% for field in h.odm_theme_metadata_fields_combined() %}
          {% set field_name = field[0] %}
          {% set field_label = field[1] %}

          {% if pkg_dict[field_name] %}

           {% if field_name == "odm_contact" %}

             {% if pkg_dict["odm_contact"] and pkg_dict["odm_contact_email"] %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("Contact") }}</th>
                <td class="dataset-details">{{ h.mail_to(email_address=pkg_dict.odm_contact_email, name=pkg_dict.odm_contact) }}</td>
              </tr>
             {% elif pkg_dict["odm_contact"] %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("Contact") }}</th>
                <td class="dataset-details">{{ pkg_dict.odm_contact }}</td>
              </tr>
             {% endif %}

           {% else %}

            {% if field_name != "odm_contact" and field_name != "odm_contact_email" %}
              <tr>
                <th scope="row" class="dataset-label">{{ _(field_label) }}</th>
                <td class="dataset-details">{{ pkg_dict[field_name] }}</td>
              </tr>
            {% endif %}

           {% endif %}

          {% endif %}

        {% endfor %}

      {% endblock %}
    </tbody>
  </table>

</section>
