{% import 'macros/form.html' as form %}

{% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}
{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}

{% block package_basic_fields_custom %}{% endblock %}

{% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes) }}
{% endblock %}

{% block package_basic_fields_tags %}
{{ form.hidden('tag_string', value="") }}
{% endblock %}

{% block package_basic_fields_taxonomy %}
{% set taxonomy_tags = h.odm_nav_taxonomy_dictionary() %}
{% if taxonomy_tags|length > 0 %}
<div class="control-group">
  <label class="control-label" for="field-taxonomy">{{ _("Topics") }}</label>
  <div class="controls control-full">
    <select multiple id="field-taxonomy" name="taxonomy" data-module="autocomplete" placeholder="{{ _("eg. economy, mental health, government") }}">
      {% for tag in taxonomy_tags %}
      {% if tag not in data.tag_string %}
        <option value="{{ tag }}">{{ h.odm_nav_get_localized_tag(tag) }}</option>
      {% else %}
        <option selected="selected" value="{{ tag }}">{{ h.odm_nav_get_localized_tag(tag) }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
{% endif %}
{% endblock%}

{% block package_basic_fields_license %}
<div class="control-group">
  {% set error = errors.license_id %}
  <label class="control-label" for="field-license">{{ _("License") }}</label>
  <div class="controls">
    <select id="field-license" name="license_id" data-module="autocomplete">
      {% for license_desc, license_id in licenses|sort if license_desc  %}
        <option value="{{ license_id }}" {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
      {% trans %}
        License definitions and additional information can be found
        at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
      {% endtrans %}
    </span>
  </div>
</div>
{% endblock %}

{% block package_basic_fields_odm_copyright %}
	<div class="control-group">
	  <label for="field-odm_copyright" class="control-label">{{ _('Copyright') }}</label>
	  <div class="controls">
	    <div class="form-radios">
	      <input id="field-odm_copyright" name="odm_copyright" type="radio" value="Yes" {% if data.odm_copyright == "Yes"%}checked{% endif %}> {% trans %}Yes{% endtrans %}</br>
	      <input id="field-odm_copyright" name="odm_copyright" type="radio" value="No" {% if data.odm_copyright == "No"%}checked{% endif %}> {% trans %}No{% endtrans %}</br>
	      <input id="field-odm_copyright" name="odm_copyright" type="radio" value="Unclear copyright" {% if data.odm_copyright == "Unclear copyright"%}checked{% endif %}> {% trans %}Unclear copyright{% endtrans %}
	    </div>
	    <span id="field-odm_copyright-disclaimer" class="info-block info-inline">
	      <i class="icon-info-sign"></i>
	      {% trans %}
	        Select 'yes', 'no' or 'unclear copyright' about the copyright of the dataset. If copyright of any type is present, describe further in Access and User Constraints.
	      {% endtrans %}
	    </span>
	  </div>
	</div>
{% endblock %}

{% block package_basic_fields_odm_access_and_use_constraints %}
  {{ form.markdown('odm_access_and_use_constraints', is_required=false, label=_('Access and Use Constraints'), id='field-odm_access_and_use_constraints', placeholder=_('A few sentences describing legal considerations for people who access the website and/or use its contents.'), value=data.odm_access_and_use_constraints, error=errors.odm_access_and_use_constraints, classes=['control-full']) }}
{% endblock %}

{% block package_basic_fields_orga %}

  {% resource 'odm_nav/moment.js' %}
  {% resource 'odm_nav/daterangepicker.js' %}
  {% resource 'odm_nav/daterangepicker-bs3.css' %}
  {% resource 'odm_nav/daterangepicker-module.js' %}
  {% resource 'odm_nav/odm_nav_review_system_logic.js' %}
  {% resource 'odm_nav/multiselect-module.js' %}

  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available and (user_is_sysadmin or dataset_is_draft) %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  <div data-module="odm_nav_review_system_logic" data-module-owner_org="{{data.owner_org}}">

  {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
      <div class="controls">
       <select id="field-organizations" name="owner_org" data-module="autocomplete">
        {% if h.check_config_permission('create_unowned_dataset') %}
           <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
           <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.name }}</option>
        {% endfor %}
       </select>
      </div>
    </div>
  {% endif %}

  {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
      <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div id="field-private-container" class="controls">
          <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
          <span id="field-private-disclaimer" class="info-block info-inline">
            <i class="icon-info-sign"></i>
            {% trans %}
            Editors can only create Private datasets. Contact the site admin for review and publication of this dataset.
            {% endtrans %}
          </span>
        </div>
      </div>
    {% endblock %}
  {% endif %}

  {% block package_metadata_fields_version %}
    {{ form.input('version', is_required=true, label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-full']) }}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
     {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=c.userobj.display_name, error=errors.maintainer, classes=['control-full hidden']) }}
     {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=c.userobj.email, error=errors.maintainer_email, classes=['control-full hidden']) }}
  {% endblock %}

  </div>

  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
  {% endif %}

{% endblock %}
