{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}

{% macro resource_table(resources) %}
    {% for res in resources %}
<div class="row dataset-resource">
    {% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
    {% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
            <div class="dataset-resource-format col-sm-2 col-xs-3">
                <a href="{{ url }}">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="format-name">
                        {% filter upper %}
                            {{ res.get('format','') }}
                        {% endfilter %}
                    </span>
                </a>
            </div>
            <div class="dataset-resource-text col-sm-10 col-xs-9">
                {% if res.format == 'WMS' %}{% set dl= h.odm_nav_wms_download(res, pkg) %}{% else %}{% set dl='' %}{% endif %}
                {% if dl %}
                    {{ dl|safe }}
                {% elif res.format == 'WMS' %}
                     <a class="btn btn-lg btn-primary btn-block btn-download" href="{{ url }}">
                        {% trans %}View{% endtrans %}
                        <i class="fa fa-external-link"></i>&nbsp;
                    </a>
                {% else %}
                    <a target="_blank" class="btn btn-lg btn-primary btn-block btn-download" resource_id="{{res.id}}" href="{{res.get('url', '')}}">
                        {% trans %}Download{% endtrans %}
                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp;
                    </a>
                {% endif %}
                <a href="{{ url }}">
                    {% if h.resource_display_name(res) %}
                        <div>
                            <h4>{{h.resource_display_name(res)}}</h4>
                        </div>
                    {% elif h.odm_dataset_get_currentlang_data('description_translated', res) %}
                        <div>
                            {{ h.odm_dataset_get_currentlang_data('description_translated', res) }}
                        </div>
                    {% endif %}
                </a>
            </div>
</div>
    {% endfor %}
{% endmacro %}


<section id="dataset-resources" class="resources">
    <h2>{{ _('Data Resources') }} ({{resources|length}})</h2>
    {{ resource_table(resources) }}
    {#% snippet "package/snippets/resource_item.html", pkg=pkg, resources=pkg.resources %#}
</section>
