{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, type=pkg.type, id=pkg.name, resource_id=res.id) %}

{% if res.name_translated %}
  {% set ml_name = res.name_translated[h.odm_dataset_get_current_language()] %}
{% endif %}

{% if res.description_translated %}
  {% set ml_description = h.markdown_extract(res.description_translated[h.odm_dataset_get_current_language()]) %}
{% endif %}

<li class="resource-item" data-id="{{ res.id }}">
  {% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ ml_name or res.name or res.description }}">
    {{ ml_name or res.name | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="description">
      {% if ml_description or res.description %}
        {{ h.markdown_extract(ml_description or res.description, extract_length=80) }}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}
  {% if not url_is_edit %}

      <div class="resource_item_explore_links">
        {% block resource_item_explore_links %}
        <a href="{{ url }}">
          {% if res.has_views %}
            <img alt="{{ _('Preview') }}" class="resource_explore_icon resource_explore_icon-eye" src="/icons/eye.svg">
          {% else %}
          <img alt="{{ _('More information') }}" class="resource_explore_icon" src="/icons/info.svg">
          {% endif %}
        </a>

      {% if can_edit %}
        <a href="{{ h.url_for(controller='package', action='resource_edit', type=pkg.type, id=pkg.name, resource_id=res.id) }}">
          <img alt="{{ _('Edit') }}"class="resource_explore_icon" src="/icons/pencil.svg">
        </a>
      {% endif %}

      {% if res.url and h.is_url(res.url) %}
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
          {% if res.has_views %}
            <img alt="{{ _('Download') }}" class="resource_explore_icon" src="/icons/arrow-down.svg">
          {% else %}
            <img alt="{{ _('Go to resource') }}"class="resource_explore_icon" src="/icons/arrow-down.svg">
          {% endif %}
        </a>
      {% endif %}

      {% endblock %}
    </div>

  {% endif %}
  {% endblock %}
</li>
