{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}

{% macro resource_table(resources) %}
<div class="row">
    {% for res in resources %}
    {% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
    {% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

    <div class="dataset-resource col-md-12 col-sm-12 col-xs-12">


        <div class="dataset-resource-format col-md-2 col-sm-2 col-xs-4">
            <a href="{{ url }}">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <span class="format-name">
                {% filter upper %}
                    {{ res.get('format','') }}
                {% endfilter %}
            </span>
            </a>
        </div>

        <div class="dataset-resource-title col-md-8 col-sm-8 col-xs-8">
            <h4>
            <a href="{{ url }}">

                {% if h.resource_display_name(res) %}
                    <div>
                        {{h.resource_display_name(res)|truncate(120)}}
                    </div>
                {% elif res.get('description') %}
                    <div>
                        {{res.get('description')|truncate(120)}}
                    </div>
                {% endif %}
            </a>
            </h4>

            {% if res.get('description')|truncate(200) %}
                <p>{{res.get('description')|truncate(200)}}</p>
            {% else %}
                <p class="empty">This resource has no description</p>
            {% endif %}
            
        </div>

        <div class="dataset-resource-text col-md-2 col-sm-2 col-xs-12">

            {% if res.format == 'WMS' %}{% set dl= h.odm_nav_wms_download(res) %}{% endif %}
            {% if dl %}
            {{ dl|safe }}
            {% else %}
            <a target="_blank" class="btn btn-lg btn-primary btn-block btn-download" href="{{res.get('url', '')}}">
                {% trans %}Download{% endtrans %}
                <i class="fa fa-download" aria-hidden="true"></i>&nbsp;
            </a>
            {% endif %}

            {{res.get('date','')}}

        </div>


    </div><!-- /dataset-resource -->
    {% endfor %}

</div>
{% endmacro %}


<section id="dataset-resources" class="resources">
    <h2>{{ _('Data Resources') }} ({{resources|length}})</h2>
    {{ resource_table(resources) }}
    {#% snippet "package/snippets/resource_item.html", pkg=pkg, resources=pkg.resources %#}
</section>
