{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% set image_resources = [] %}
{% if package.resources and not hide_resources %}
 {% for resource in package.resources %}
  {% if (resource.format.lower() == 'jpg') or (resource.format.lower() == 'png') %}
   {% do image_resources.append(resource) %}
  {% endif %}
 {% endfor %}
{% endif %}

<li class="{{ item_class or "dataset-item" }}">
  {% block package_item_content %}
    <div class="dataset-content clear">
      <h3 class="dataset-heading">
        {% if package.private %}
          <span class="dataset-private label label-inverse">
            <i class="icon-lock"></i>
            {{ _('Private') }}
          </span>
        {% endif %}
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
        {% if package.get('state', '').startswith('draft') %}
          <span class="label label-info">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="label label-important">{{ _('Deleted') }}</span>
        {% endif %}
        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
      </h3>
      {% if banner %}
        <span class="banner">{{ _('Popular') }}</span>
      {% endif %}
	    {% set resource = image_resources|last %}
	    {% if resource %}
	      <img class="dataset_thumb_s" src="{{ h.odm_theme_localize_resource_url(resource.url) }}"></img>
	    {% endif %}
	    {% if notes %}
	    <div>
	      {{ notes|urlize }}
	    </div>
	  {% endif %}
    </div>
  <div class="dataset-extras clear">
   {% if package.resources and not hide_resources %}
    <ul class="dataset-resources unstyled">
     {% for resource in h.dict_list_reduce(package.resources, 'format') %}
      <li>
       <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
      </li>
     {% endfor %}
    </ul>
   {% endif %}
   {% block package_item_tags %}
    <ul class="dataset-tags unstyled">
     {% for tag in package.tags %}
      <li>
       <a class="label" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.odm_theme_get_localized_tag(tag.display_name) }}</a>
      </li>
     {% endfor %}
    </ul>
   {% endblock%}
  </div>
  {% endblock %}
</li>
