{% set wp_url='http://192.168.33.10' %}
{% set country_code = h.odm_nav_get_cookie()%}
{% if h.odm_nav_get_cookie() == 'mekong'%}
	{% set country_code = '' %}
{% endif %}
{% resource 'odm_nav/aeviator_nav_concept.css' %}


<!-- {% for item in country_code %}
	{{item}}
{% endfor %} -->
<div class="contentNavigation">

	<ul id="cNavNew" class="level1 clearfix current-site-mekong">
		{%for item in h.odm_nav_json_load_top_topics()%}
      {% if loop.index0==0%}
        {% set menu='menu_environment'%}
        {% set icon='icon_tree.png'%}
      {% elif loop.index0==1%}
        {%set menu='menu_economy'%}
        {% set icon='icon_industry.png'%}
      {% elif loop.index0==2%}
        {%set menu='menu_people'%}
        {% set icon='icon_mensch.png'%}
      {%endif%}

      	<li class="first icon_menu {{menu}}">
    			<a class="top_topic" href="#" target="_self">
    				<img src="/icons/{{icon}}" alt="">
    				<span class="cNavState"></span>
    			</a>
    			<ul class="level2 {{menu}}">
    				<li class="top-topic">{{item.titles.en}}</li>
    				{%for child in item.children %}
    				    <li class="first"><a href="{{wp_url}}/{{country_code}}/topics/{{h.odm_nav_sanitize_html(child.titles.en)}}" target="_self">{{child.titles.en}}<span class="cNavState"></span></a></li>
    				{% endfor %}
    				<span class="border"></span>
    			</ul>
    		</li>
		{% endfor %}

		<li class="one-line"><a href="/laws_record{% if country_code != ''%}?odm_spatial_range={{country_code | capitalize}}{% endif %}" target="_self">LAWS AND AGREEMENTS<span class="cNavState"></span></a>


		</li>

		<li class="one-line"><a class="library" href="/library_record{% if country_code != ''%}?odm_spatial_range={{country_code | capitalize}}{% endif %}" target="_self">Publications Library<span class="cNavState"></span></a>


		</li>

		<li class="one-line">
			<a class="" href="/{% if country_code != ''%}dataset?odm_spatial_range={{country_code | capitalize}}{% endif %}" target="_self">Data<span class="cNavState"></span></a>
			<ul class="level2">
				<li class="first"><a href="{% if country_code != ''%}dataset?odm_spatial_range={{country_code | capitalize}}{% endif %}" target="_self">All records<span class="cNavState"></span></a></li>

				<li><a href="/group" target="_self">Records by type<span class="cNavState"></span></a></li>
				<li><a href="#" target="_self">Records by country<span class="cNavState"></span></a></li>
				<li class="last"><a href="#" target="_self">Records by language<span class="cNavState"></span></a></li>


				<span class="border"></span>
			</ul>

		</li>

		<!-- <li>
      <a href="#" target="_self">Toolkits<span class="cNavState"></span></a>
    </li> -->

		<li class="one-line">
			<a href="{{wp_url}}/{{country_code}}/map-explorer" target="_self">Map Explorer<span class="cNavState"></span></a>
		</li>

		<!-- load country specific menu from wp -->
		{% for item in h.odm_nav_load_country_specific_menu(country_code,wp_url) %}
			<li class="one-line">
				<a href="{{item.url}}" target="_self">{{item.title}}<span class="cNavState"></span></a>
			</li>
		{% endfor %}

	</ul>
</div>

<div id="mainNav" class="mainNavOdc">
	<div class="mainNav-logo">
		<a href="{{wp_url}}/{{h.odm_nav_get_cookie()}}" target="_self">
			<img src="/odm_data_logo.png" </a>
	</div>

	<div class="mainNav-inner">
		<ul id="mainNavElement" class="level1 clearfix">
			<li class="first jtop {% if country_code == ''%}act{% endif %}"><a class="toWp" data-country="mekong" href="{{wp_url}}/" target="_self" id="uid-2">MEKONG</a></li>

			<li class="second {% if country_code == 'cambodia' %}act{% endif %}"><a class="toWp" data-country="cambodia"  href="{{wp_url}}/cambodia" id="uid-3">CAMBODIA</a></li>

			<li class="third {% if country_code == 'laos' %}act{% endif %}"><a class="toWp" data-country="laos" href="{{wp_url}}/" target="_self" id="uid-4">LAOS</a></li>

			<li class="fourth {% if country_code == 'myanmar' %}act{% endif %}"><a class="toWp" data-country="myanmar" href="{{wp_url}}" target="_self" id="uid-42">MYANMAR</a></li>

			<li class="last jbottom {% if country_code == 'thailand' %}act{% endif %}"><a class="toWp" data-country="thailand" href="{{wp_url}}/" target="_self" id="uid-5">THAILAND</a></li>

			<li class="last jbottom {% if country_code == 'vietnam' %}act{% endif %}"><a class="toWp" data-country="vietnam" href="{{wp_url}}/" target="_self" id="uid-5142">VIETNAM</a></li>

		</ul>

	</div>

</div>
