{#% for top_topic in h.odm_nav_build_top_topic_nav_menu %}
        {{top_topic}}
    {% endfor %#}

{%for title in h.odm_nav_build_top_topic_nav_menu(lang='en')%}
  {{title}}
{% endfor %}

<div class="contentNavigation">

  <ul id="cNavNew" class="level1 clearfix current-site-mekong">

    <li class="first icon_menu menu_environment">
      <a href="#" target="_self">
        <img src="/icons/icon_tree.png" style="width:45px;height:auto;margin-top:5px;" alt="">
        <span class="cNavState"></span>
      </a>

      <ul class="level2 menu_environment">
        <li class="top-topic">LAND</li>
        <li class="first"><a href="#" target="_self">Agriculture and fishing<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Disasters and emergency response<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Environment and natural resources<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Extractive industries<span class="cNavState"></span></a></li>
        <li class="last"><a href="#" target="_self">Land<span class="cNavState"></span></a></li>
        <span class="border"></span>
      </ul>
    </li>

    <li class="first icon_menu menu_economy">
      <a href="#" target="_self">
        <img src="/icons/icon_industry.png" style="width:45px;height=auto;margin-top:-1px;" alt="">
        <span class="cNavState"></span>
      </a>

      <ul class="level2 menu_economy">
        <li class="top-topic">ECONOMY</li>
        <li class="first"><a href="#" target="_self">Economy and commerce<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Energy<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Infrastructure<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Industry<span class="cNavState"></span></a></li>
        <li class="last"><a href="#" target="_self">Labor<span class="cNavState"></span></a></li>
        <span class="border"></span>
      </ul>
    </li>

    <li class="first icon_menu menu_people">
      <a href="#" target="_self">
        <img src="/icons/icon_mensch.png" style="height:34px;padding-top:8px;" alt="">
        <span class="cNavState"></span>
      </a>

      <ul class="level2 menu_people">
        <li class="top-topic">PEOPLE</li>
        <li class="first"><a href="#" target="_self">Aid and development<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Government<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Law and judiciary<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Population and census<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Social development<span class="cNavState"></span></a></li>
        <li class="last"><a href="#" target="_self">Urban administration and development<span class="cNavState"></span></a></li>
        <span class="border"></span>
      </ul>
    </li>

    <li class="one-line"><a href="#" target="_self">LAWS AND AGREEMENTS<span class="cNavState"></span></a>


    </li>

    <li class="one-line"><a class="library" href="#" target="_self">Publications Library<span class="cNavState"></span></a>


    </li>

    <li class="one-line">
      <a class="/datahub" href="#" target="_self">Data<span class="cNavState"></span></a>
      <ul class="level2">
        <li class="first"><a href="dataset" target="_self">All records<span class="cNavState"></span></a></li>

        <li><a href="group" target="_self">Records by type<span class="cNavState"></span></a></li>
        <li><a href="#" target="_self">Records by country<span class="cNavState"></span></a></li>
        <li class="last"><a href="#" target="_self">Records by language<span class="cNavState"></span></a></li>


        <span class="border"></span>
      </ul>

    </li>

    <!-- <li>
      <a href="#" target="_self">Toolkits<span class="cNavState"></span></a>
    </li> -->

    <li class="one-line">
      <a href="#" target="_self">Map Explorer<span class="cNavState"></span></a>
    </li>

</ul>
</div>

<div id="mainNav" class="mainNavOdc">
     <div class="mainNav-logo">
       <a href="/" target="_self">
         <img src="/odm_data_logo.png"

       </a>
     </div>

     <div class="mainNav-inner">
       <ul id="mainNavElement" class="level1 clearfix">
         <li class="first jtop act"><a href="index.html" target="_self" id="uid-2">MEKONG</a></li>

         <li class="second"><a href="odc.html" id="uid-3">CAMBODIA</a></li>

         <li class="third"><a href="odl.html" target="_self" id="uid-4">LAOS</a></li>

         <li class="fourth"><a href="odmy.html" target="_self" id="uid-42">MYANMAR</a></li>

         <li class="last jbottom"><a href="odt.html" target="_self" id="uid-5">THAILAND</a></li>

         <li class="last jbottom"><a href="odv.html" target="_self" id="uid-5142">VIETNAM</a></li>

       </ul>

     </div>
     <!-- <div id="mainNav-social">
       <a href="#" target="_blank">
         <span class="sicons twitter"></span>
       </a>
       <a href="#" target="_blank">
         <span class="sicons facebook"></span>
       </a>
       <a href="http://www.flickr.com/photos/" target="_blank">
         <span class="sicons google"></span>
       </a>
       <a href="http://vimeo.com/odm/videos" target="_blank">
         <span class="sicons vimeo"></span>
       </a>
     </div> -->
   </div>
